{% extends 'base.html.twig' %}

{% block title %}Personne{% endblock %}

{% block body %}
    <h1>Personne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personne.id }}</td>
            </tr>
            <tr>
                <th>FullName</th>
                <td>{{ personne.fullName }}</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>{{ personne.mobile }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ personne.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('personne_index') }}">back to list</a>

    <a href="{{ path('personne_edit', {'id': personne.id}) }}">edit</a>

    {{ include('personne/_delete_form.html.twig') }}
{% endblock %}
